modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["arrow-cpp", "bash", "bluez", "cairo", "cargo", "coreutils", "espeak-ng", "ffmpeg-full", "file", "firefox", "freetype", "geckodriver", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libGL", "libGLU", "libcxx", "libiconv", "libimagequant", "libjpeg", "libsndfile", "libtiff", "libwebp", "libxcrypt", "libyaml", "nodejs", "openjpeg", "openssl", "pkg-config", "portaudio", "qhull", "rustc", "scrot", "tcl", "tesseract", "tk", "xsimd", "xvfb-run", "zlib"]

[workflows]
runButton = "تشغيل المساعد التفاعلي"

[[workflows.workflow]]
name = "تشغيل المساعد الموحد"
author = 43143009
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main_unified.py"

[[workflows.workflow]]
name = "تحليل المشروع المتقدم"
author = 43143009
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python tools/advanced_analyzer.py"

[[workflows.workflow]]
name = "تنظيف الملفات"
author = 43143009
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python cleanup_duplicates.py"

[[workflows.workflow]]
name = "تشغيل المساعد التفاعلي"
author = 43143009
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python core/unified_assistant_engine.py"
