modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["espeak-ng", "glibcLocales", "libGL", "libGLU", "libsndfile", "libxcrypt", "pkg-config", "portaudio", "scrot", "tesseract", "xsimd", "xvfb-run"]
